button {
  width: 100px;
  height: 200px;
}

#post {
  border-style: solid;
  padding: 1%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-color: darkgrey;
  text-decoration: none;
}

#newpost {
  border-style: solid;
  padding: 1%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-color: darkgrey;
}

textarea {
  width: 98.5%;
  padding: 0.75%;
  margin-bottom: 0.25%;
}

#newpost > form {
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin-left: 3%;
  margin-right: 3%;
}

#title h5 {
  background-color: #552c78;
  width: 65%;
  height: 70%;
  border-radius: 3px;
  text-align: center;
}
#title .col-2 {
  text-align: left;
  color: white;
  font-weight: bold;
}

.heading {
  margin: 1%;
}

#title {
  margin: 1%;
}

#title #leftalign {
  text-align: left;

}
#title #rightalign {
  text-align: right;
}

#edit {
  text-align: left;
  text-decoration: underline;
  color: blue;
}

#postcontent {
  border-bottom-style: solid;
  margin-bottom: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.25%;
  margin-top: 0.1%;
  border-bottom-color: lightgrey;
}

#timestamp {
  color: grey;
}

#nolikes, #user {
  color: purple;
  font-weight: bold;
}

#comments > h6 {
  font-weight: bold;
}

h1 {
  color: #552c78;
}

#profileuser {
  color: #552c78;
  font-weight: bold;
}

.heading {
  font-weight: bold;
  color: #287c7a;
}

#pagenav {
  margin: 2%;
  color: blue;
}
